/* ==========================================================================
   Global: Alerts
   ========================================================================== */

.alert-group {
  margin: 2rem 0;
  padding: 0;
}