{{ define "main" }}
    <div class="container">
    <div class="card">
      <div class="status-header js-status-header">
      </div>
      <ul class="card-list">
          <li class="card-list__item">
              <span class="item-title">{{ i18n "api-requests" }}<div class="icon"><img src="/svg/chevron-down.svg" alt="" data-state="closed" class="expand-btn js-expand-btn"></div></span>
              <div class="tooltip status-badge js-requests-status-badge">
                <div class="top"> <p></p> <i></i></div>
              </div>
          </li>
          <li class="card-list__item--hidden js-endpoint-status js-v2-locations-card-list__item">
            <span class="endpoint-title">/v2/locations</span>
            <div class="tooltip status-badge js-v2-locations-status-badge">
              <div class="top"> <p>Foo</p> <i></i></div>
            </div>
          </li>
          <li class="card-list__item--hidden js-endpoint-status js-v2-measurements-card-list__item">
            <span class="endpoint-title">/v2/measurements</span>
            <div class="tooltip status-badge js-v2-measurements-status-badge">
              <div class="top"> <p></p> <i></i></div>
            </div>
          </li>
          <li class="card-list__item--hidden js-endpoint-status js-v2-latest-card-list__item">
            <span class="endpoint-title">/v2/latest</span>
            <div class="tooltip status-badge js-v2-latest-status-badge">
              <div class="top"> <p></p> <i></i></div>
            </div>
          </li>
          <li class="card-list__item--hidden js-endpoint-status js-v2-parameters-card-list__item">
            <span class="endpoint-title">/v2/parameters</span>
            <div class="tooltip status-badge js-v2-parameters-status-badge">
              <div class="top"> <p></p> <i></i></div>
            </div>
          </li>
          <li class="card-list__item--hidden js-endpoint-status js-v2-sources-card-list__item">
            <span class="endpoint-title">/v2/sources</span>
            <div class="tooltip status-badge js-v2-sources-status-badge">
              <div class="top"> <p></p> <i></i></div>
            </div>
          </li>
          <li class="card-list__item">
              <div>API Response Time — <span class="response-time-score js-response-time-score"></span></div>
              <div class="tooltip response-time-chart">
                <div class="top"> <p>avg. hourly response time - past 24 hours</p> <i></i></div>
                <svg class="sparkline" width="100" height="25" stroke-width="2"></svg>
              </div>
          </li>
      </ul>
  </div>
  <div class="card">
    <div class="card__header">
      {{ i18n "api-status-history" }}
    </div>
    <div class="card__body">
      <div class="status-history">
        <div class="calendar-container">
          <div class="month-label js-month-label"></div>
          <div class="calendar js-calendar">
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
          </div>
        </div>
        <div class="calendar-container">
          <div class="month-label js-month-label"></div>
          <div class="calendar js-calendar">
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
          </div>
        </div>
        <div class="calendar-container">
          <div class="month-label js-month-label"></div>
          <div class="calendar js-calendar">
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
          </div>
        </div>
      </div>
      <div class="legend-container">
        <ul class="legend">
            <li class="legend__item"><div class="legend__item-color legend__item-color--operational tooltip"><div class="top"> <p>100% successful test API responses</p> <i></i></div></div> {{ i18n "operational" }}</li>
            <li class="legend__item"><div class="legend__item-color legend__item-color--intermittent tooltip"><div class="top"> <p>some unsuccessful test API responses</p> <i></i></div></div> {{ i18n "intermittent" }}</li>
            <li class="legend__item"><div class="legend__item-color legend__item-color--down tooltip"><div class="top"> <p>0% successful test API responses</p> <i></i></div></div> {{ i18n "down" }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__header incident-history-header">
        <div></div><span>{{ i18n "incident-history" }}</span> <a href="/index.xml"><img src="{{"svg/rss.svg" | relURL}}" alt=""></a>
    </div>
    {{if eq (len (where .Site.RegularPages "Section" "==" "incident")) 0}}
    <div class="card-list--empty">
      {{ i18n "no-incidents" }} 
    </div>
      
    {{ else }}
    {{ range where .Site.RegularPages "Section" "incident"  }}
    <ul class="card-list">
        <li class="card-list__item">
            <span class="incident">{{.Date.Format "2006-01-02"}} — {{partial "severity-badge" . }} <span class="incident-title">{{ .Title }}</span></span><a href="{{.Permalink}}">{{ i18n "read-more" }}</a>
        </li>
    </ul>
    {{ end }}
  {{ end }}
    </div>
</div>
{{ end }}
{{ define "script" }}
{{ $js := resources.Get "js/index.js" | js.Build | resources.Minify }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script>
  const lang = "{{ .Language.Lang }}";
</script>
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{ end }}