<footer class="footer">
    <div class="footer__inner">
        <a class="slack-link" href="https://join.slack.com/t/openaq/shared_invite/zt-yzqlgsva-v6McumTjy2BZnegIK9XCVw">
            <span>Join us on Slack</span><img src="{{"svg/slack.svg" | relURL}}" alt="slack icon">
        </a>
        <a class="github-link" href="https://github.com/openaq/openaq-status">
           <span>Contribute on Github</span><img src="{{"svg/github.svg" | relURL}}" alt="github icon">
        </a>
    </div>
</footer>