.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: 180px;
}

.calendar {
    display: flex;
    justify-content: center;
    width: 155px;
    flex-wrap: wrap;
}


.month-label {
    display: flex;
    justify-content: center;
    margin: 5px;
}


.day {
    width: 16px;
    height: 16px;
    margin: 2px;
    cursor: pointer;

    &--operational {
        background-color: $operational;
    }
    
    &--intermittent {
        background-color: $intermittent;
    }
    
    &--down {
        background-color: $down;
    }
    
    &--no-data {
        background-color: $no-data;
    }
}

@media only screen and (max-width: 600px) {

    .calendar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80px;
        width: 90px;
    }

    .calendar {
        display: flex;
        justify-content: center;
        width: 80px;
        flex-wrap: wrap;
    }

    .day {
        width: 8px;
        height: 8px;
        margin: 1px;
    }
  }