.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: 180px;
}

.calendar {
    display: flex;
    justify-content: center;
    width: $calendar-width;
    flex-wrap: wrap;
}


.month-label {
    display: flex;
    justify-content: center;
    margin: 5px;
}


.day {
    width: $day-size;
    height: $day-size;
    margin: 2px;
    cursor: pointer;

    &--operational {
        background-color: $operational;
    }
    
    &--intermittent {
        background-color: $intermittent;
    }
    
    &--down {
        background-color: $down;
    }
    
    &--no-data {
        background-color: $no-data;
    }
}

@media only screen and (max-width: 600px) {

    .calendar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: $calendar-width-sm + 15px;
        width: $calendar-width-sm + 10px;
    }

    .calendar {
        display: flex;
        justify-content: center;
        width: $calendar-width-sm;
        flex-wrap: wrap;
    }

    .day {
        width: $day-size-sm;
        height: $day-size-sm;
        margin: 1px;
    }
  }