
// colors
$operational: #218739;
$intermittent: #B8860B;
$down: #C35309;
$no-data: #CCCCCC;
$border: #232F3B14;
$dark-blue: #232f3b;

// box shadow
$box-shadow: 0 0 32px 2px $border;


// calendar
$calendar-width: 140px;
$day-size-margin: 4px;
$day-size: ($calendar-width / 7) - $day-size-margin;

$calendar-width-sm: 90px;
$day-size-margin-sm: 2px;
$day-size-sm: ($calendar-width-sm / 7) - $day-size-margin-sm;