@import 'variables';
@import 'card';
@import 'tooltip';
@import 'calendar';
@import 'legend';
@import 'header';
@import 'footer';
@import 'sparkline';
@import 'incident';

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}


.left {
    display: flex;
    flex: 1;
}

.logo {
    width: 72px;
}

.main {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 160px);
    background-color: #F6F7F7;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    max-width: 800px;
}


.status-header {
    display: flex;
    height: 50px;
    padding: 10px 20px;
    align-items: center;

    &--operational {
        color:white;
        background-color: $operational;
    }

    &--intermittent {
        color:white;
        background-color: $intermittent;
    }

    &--down {
        color:white;
        background-color: $down;
    }
}

.status-badge {
    height:24px;
    width: 24px;

    &--operational {
        background-image: url(/svg/checkbox-circle-fill.svg);
    }
    
    &--intermittent {
        background-image: url(/svg/error-warning-fill-intermittent.svg);
    }
    
    &--down {
        background-image: url(/svg/erreor-warning-fill-down.svg);
    }
}


.latency-score {
    font-weight: bold;

    &--normal {
        color: $operational;
    }

    &--high {
        color: $down;
    }
}

.status-history {
    display: flex;
    justify-content: center;
    padding: 15px 10px 0 10px;
    
}

.incident-title {
    font-weight: bold;
}

.incident-history-header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.severity-badge {
    margin: 5px;
    width: 24px;
    height: 24px;
}
